body{
  background-color: #000000;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 2rem;
}
.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background: #fff;
  transition: all .1s ease;
}
.card:active{
  background: #333;
}

.icons{
  font-size: 35px;
}